@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-right-left {
  from {
    opacity: 0;
    transform: translateX(1.5rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes input-appearance {
  from {
    width: 35%;
  }

  to {
    width: 100%;
  }
}

@keyframes background-appearance {
  from {
    overflow: hidden;
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes scale-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes rules-btn-text-appearance {
  0% {
    opacity: 0;
    color: transparent;
  }

  1% {
    opacity: 1;
  }

  80% {
    color: transparent;
  }

  100% {
    color: $c-dark;
  }
}

@keyframes rules-btn-background-appearance {
  0% {
    width: 45%;
  }

  95% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}

@keyframes form-btn-text-appearance {
  0% {
    opacity: 0;
    color: transparent;
  }

  50% {
    opacity: 1;
    color: transparent;
  }

  95% {
    color: $c-dark;
  }
}

@keyframes result-suitcase-appearance {
  0% {
    transform: rotate(-7deg) translate(5%, 100%) scale(0);
  }
  100% {
    transform: rotate(-7deg) translate(5%, 0);
  }
}

@keyframes result-flamingo-appearance {
  0% {
    transform: translate(-20%, 100%) rotate(-20deg);
    opacity: 0;
  }
  25% {
    transform: translate(-20%, 10%) rotate(5deg);
    opacity: 1;
  }
  100% {
    transform: translate(-20%, 20%) rotate(0);
  }
}

@keyframes flamingo-swaying {
  0% {
    transform: translate(-20%, 20%) rotate(0);
  }
  50% {
    transform: translate(-20%, 10%) rotate(5deg);
  }
  100% {
    transform: translate(-20%, 20%) rotate(0);
  }
}

@keyframes result-leaf-green-appearance {
  0% {
    transform: translate(63%, 20%) rotate(-15deg);
    opacity: 0;
  }
  20% {
    transform: translate(63%, 20%) rotate(10deg);
    opacity: 1;
  }
  40% {
    transform: translate(63%, 20%) rotate(-10deg);
  }
  60% {
    transform: translate(63%, 20%) rotate(5deg);
  }
  75% {
    transform: translate(63%, 20%) rotate(-3deg);
  }
  100% {
    transform: translate(63%, 20%) rotate(0);
    opacity: 1;
  }
}

@keyframes result-leaf-blue-1-appearance {
  0% {
    transform: translate(60%, -20%) rotate(-15deg);
    opacity: 0;
  }
  15% {
    transform: translate(60%, -20%) rotate(10deg);
    opacity: 1;
  }
  40% {
    transform: translate(60%, -20%) rotate(-10deg);
    opacity: 1;
  }
  55% {
    transform: translate(60%, -20%) rotate(7deg);
    opacity: 1;
  }
  75% {
    transform: translate(60%, -20%) rotate(-7deg);
    opacity: 1;
  }
  100% {
    transform: translate(60%, -20%) rotate(0deg);
    opacity: 1;
  }
}

@keyframes result-leaf-blue-2-appearance {
  0% {
    transform: translate(-50%, 20%) rotate(40deg);
    opacity: 0;
  }
  20% {
    transform: translate(-50%, 20%) rotate(-10deg);
    opacity: 1;
  }
  40% {
    transform: translate(-50%, 20%) rotate(10deg);
    opacity: 1;
  }
  60% {
    transform: translate(-50%, 20%) rotate(-7deg);
  }
  75% {
    transform: translate(-50%, 20%) rotate(7deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 20%) rotate(0deg);
    opacity: 1;
  }
}

@keyframes rotate-left {
  0% {
    transform: translateX(3em) rotate(90deg);
  }

  100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes rotate-right {
  0% {
    transform: translateX(-3em) rotate(-90deg);
  }

  100% {
    transform: translateX(0) rotate(0);
  }
}
