@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-right-left {
  from {
    opacity: 0;
    transform: translateX(1.5rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes input-appearance {
  from {
    width: 35%;
  }

  to {
    width: 100%;
  }
}

@keyframes background-appearance {
  from {
    overflow: hidden;
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes scale-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes rules-btn-text-appearance {
  0% {
    opacity: 0;
    color: transparent;
  }

  1% {
    opacity: 1;
  }

  80% {
    color: transparent;
  }

  100% {
    color: $c-dark;
  }
}


@keyframes rules-btn-background-appearance {
  0% {
    width: 45%;
  }

  95% {
    width: 100%;
  }
}
